@charset "utf-8";

@media (max-width:375px){
#header {
}

}
body{
	background:black ;
	
}
.contact{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
a{
	margin: 100px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
	letter-spacing: 9px;
		font-size: 25px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.tel{
	padding: 20px 80px;
	color: #03e9f4;
	text-transform:uppercase;
	transition: 0.5s;
	border: 1px solid ;
	border-radius: 5px;
	font-weight: bold;
}
.tel:hover{
	background: white;
	color: fff;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4,
		        0 0 50px #03e9f4, 0 0 100px #03e9f4,
		         0 0 150px #03e9f4, 0 0 180px #03e9f4;
		       
}
.inst{
	padding: 20px 80px;
	color: orangered;
	text-transform:uppercase;
	transition: 0.5s;
	border: 1px solid ;
	border-radius: 5px;
	font-weight: bold;
	
}
.inst:hover{
	background:white;
	color:orangered;
	box-shadow: 0 0 5px orangered, 0 0 25px orangered,
		        0 0 50px orangered, 0 0 100px orangered,
		        0 0 150px orangered, 0 0 180px orangered;
}



